@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

html {
    overflow-x: hidden;
}

body {
    background-color: #252525 !important;
    Color: white;
    /*direction: rtl;*/
}

.btnMenu {
    position: fixed;
    right: 0;
    top: calc(50% - 50px);
    background-color: #666666;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 900;
    /*opacity: 0.9;*/
    width: 50px;
    height: 50px;
    background-image: url("../img/arrow-down.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;

}

.subBtnMenu:hover {
    background-color: #666666;
    opacity: 1;
}

.secdownload {
    width: 350px;
    direction: rtl;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #222144;
    z-index: 1500;
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -o-transform: translateX(350px);
    transform: translateX(350px);
}

.trnsorm-unset {
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    transform: unset;
}

.transition-set {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.download {
    border-radius: 20px;
    border: 2px solid #3A3887;
    margin: 5px;
    padding: 15px;
}

.downloads div {
    margin: 0;
    padding: 0;
}

.text {
    margin: 0px;
    text-align: center;
    color: whitesmoke;
}

.Square {
    width: 50px;
    height: 50px;
    background-color: #0dcaf0;
    border-radius: 10px;
    border: 2px solid #3A3887;
}

.nav {
    background-color: #222222;
    height: 65px;
}

.nav .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*position: fixed;*/
    margin: 0px;
    padding: 0px;
}

.phoneNumber {
    font-size: 20px;
    color: white;
}

.menu {
    margin: 0px;
    direction: rtl;
}
.iconMobileMenu{
   display:none ;
}

.menu .submenu {
    display: inline;
    list-style-type: none;
    margin: 10px 10px;
}
.submenu :hover {
    color: #fcd000;
    transition: color 1s ease-out;
    opacity: 1;
}
.menu li a {
    color: #c8d6e5;
    padding: 20px;
    text-decoration: none;
}
.mobileMenu{
    /*display: none;*/
    direction: rtl;
}
.mobilSubmenu li{
    text-decoration: none;
}
.mobilSubmenu{
display: none;
}
.NameOffice {
    color: white;
}

.container-set {
    margin: 20px 8%;
}

.slider {
    position: relative;
}

.owl-dots {
    position: absolute;
    top: 90%;
    text-align: center;
    width: 100%;
}

.sliderItem {
    /*background-image: url("");*/
    text-align: center;
    /*background-color: #2b2a56;*/
    border-radius: 20px;
    height: calc(100vh - 60px);
    /*padding: 30PX;*/
    /*box-shadow: 0px 0px 5px whitesmoke;*/
    display: flex;
    justify-content: center;
}

.sliderImages {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-size: cover;
}

.bgSlider1 {

    background-image: url("../img/slider/background1.jpg");
    background-repeat: no-repeat;
}

.bgSlider2 {

    background-image: url("../img/slider/background5.jpg");
    background-repeat: no-repeat;
}

.bgSlider3 {

    background-image: url("../img/slider/background3.jpg");
    background-repeat: no-repeat;
}

.bgSlider4 {

    background-image: url("../img/slider/background4.jpg");
    background-repeat: no-repeat;
}

/*.sliderImages div{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.slider-content {
    background-color: #21252980;
    /* opacity: 1.5; */
    border-radius: 20px;
    padding: 20px;
}

.sliderItem h3 {
    color: #fcd000;
    z-index: 100;
}

.sliderItem p {
    color: white;
    z-index: 100;
}

.sliderItem button {
    margin: 50px;
    padding: 10px;
}

.owl-carousel {
    position: relative;
}

.item {
    height: 100%;
}

.owl-dot.active span {
    background-color: white !important;
    transform: scale(1.25, 1.25);
}

.owl-carouselMain .owl-prev {
    position: absolute;
    top: 45%;
    /*right:100%;*/
    left: 0;
    background-color: #21252980 !important;
    width: 50px;
    font-size: 100px !important;
    border-radius: 10px !important;
    margin: 0px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.owl-carouselMain .owl-next {

    position: absolute;
    top: 45%;
    /*left: 100%;*/
    right: 0;
    background-color: #21252980 !important;
    width: 50px;
    font-size: 100px !important;
    border-radius: 10px !important;
    margin: 0px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.owl-carouselMain button span {
    margin-top: -25px;
}

.owl-carouselBlog .owl-prev {
    position: absolute;
    top: 35%;
    /*right:100%;*/
    left: 100%;
    /*background-color: #fcd000 !important;*/
    width: 50px;
    font-size: 100px !important;
    border-radius: 10px !important;
    margin: 0px !important;
}

.owl-carouselBlog .owl-next {
    position: absolute;
    top: 35%;
    /*left: 100%;*/
    right: 100%;
    /*background-color: #fcd000 !important;*/
    width: 50px;
    font-size: 100px !important;
    border-radius: 10px !important;
    margin: 0px !important;
}

.owl-carouselBlog .owl-dots {
    position: absolute;
    top: 100%;
    text-align: center;
    width: 100%;
}

.line {
    border-bottom: 2px solid #fcd000;
    /*margin: 30px;*/
    position: relative;
    /*margin: 90px 10px;*/
    margin: 45px 10px;
}

.line::after {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fcd000;
    top: calc(100% - 15px);
    left: calc(50% - 15px);
    content: '';
}

.line::before {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: whitesmoke;
    top: calc(100% - 5px);
    left: calc(50% - 5px);
    content: '';
    z-index: 100;
}

.video {
    height: 60vh !important;
}

.secProduct {
    direction: rtl;
}

.product {
}

.productHeader {
    text-align: center;
}

.productHeader h3 {
    color: whitesmoke;
}

.productHeader p {
    font-size: 20px;
    color: #fcd000;
}

.productContent {
}

.productContent .sec {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;

}

.secImg {
    padding: 0px;
    box-shadow: 0px 0px 20px #fcd000;
    border-radius: 23px;
    /*margin: 10px 30px;*/
    /*width: 40%;*/
}


.secContent {
    text-align: right;
    padding: 20px;
}

.secContent div {
    width: 100%;
}

.secContent div h3 {
    color: #fcd000;
    margin: 0px;
    padding: 0px;
}

.secContent div h4 {
    color: white;
    margin: 0px;
    padding: 0px;
}

.secContent div p {
    color: #eccccf;
    margin: 0px;
    padding: 0px;
}

.Services {
    direction: rtl;
}

.headerServices {
    text-align: center;
    margin: 50px 5px;
}

.hservice, .subhservice {
    margin: 0px !important;
}

.hservice {
    color: whitesmoke;
    padding: 0px !important;
}

.subhservice {
    color: #fcd000;
    padding: 0px !important;
}

.headerServices p {
    color: #9291a9;
    margin: 20px;
}


.card {
    text-align: right;
    border-radius: 20px;
    background-color: #222222;
    border-bottom-right-radius: 29px;
    border-bottom: 8px solid #ffa801;
    border-bottom-left-radius: 30px;
}


.card-text {
    font-size: 16px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.card-title {
    margin: 10px;
    color: #7A8FFF;
}

.card-text {
    color: #eccccf;
    margin: 5px;
}

.shape {
    width: 80px;
    height: 80px;
    font-size: 50px;
    text-align: center;
    background-color: #7A8FFF;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 1px #7A8FFF;
    margin: 0px !important;
    padding: 0px !important;
}

.card-body ul {
    margin: 5px 30px;
}

.itemCustomers {
    margin: 8px;
    background-color: #222222;
    height: 20vh;
    padding: 12px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subCustomers {
    border-radius: 20px;
    height: 90%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderItemComment {
    text-align: center;
    background-color: #222222;
    height: 90%;
    border-radius: 20px;
    padding: 20PX;
    box-shadow: 0px 0px 5px whitesmoke;
    border-bottom: 5px solid #ffa801;

}


.sliderItemComment p {
    text-align: right;
    margin: 10px;
    color: white;
}

.nameCustomer {
    direction: rtl;
    text-align: right;

}

.customerComment .owl-prev {
    position: absolute;
    top: 5%;
    /*right:100%;*/
    left: 100%;
    /*background-color: #fcd000 !important;*/
    width: 50px;
    font-size: 100px !important;
    border-radius: 10px !important;
    margin: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customerComment .owl-next {
    position: absolute;
    top: 5%;
    /*left: 100%;*/
    right: 100%;
    /*background-color: #fcd000 !important;*/
    width: 50px;
    font-size: 100px !important;
    border-radius: 10px !important;
    margin: 0px !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

.customerComment .owl-dots {
    position: absolute;
    top: 100%;
    text-align: center;
    width: 100%;
}

.owl-carouselCustomerComment .item {
    padding: 10px;
}

.imgItemComment {
    background-color: #eccccf;
    width: 70px !important;
    height: 70px;
    border-radius: 50%;
    box-shadow: 1px 1px 6px 2px #ffffff42;
    padding: 0px;
}

.contentItemComment {
    padding: 10px;
}

.contentItemComment h6 {
    color: white;
    padding: 0px;
    margin: 0px;
}

.contentItemComment p {
    color: #eccccf;
    padding: 0px;
    margin: 0px;
}

.rec {
    width: 90% !important;
    background-color: white;
    border-radius: 20px;
    margin: 10px 15px;
}

.card-body h5 {
    margin: 8px;
    text-align: center;
}

.card-titleBlog {
    color: #fcd000;
}

.card-textBlog {
    font-size: 14px;
    color: #eccccf;
    border-bottom: 1px solid silver;
    padding-bottom: 20px;
}

.card-text {
    text-align: right;
    direction: rtl;
}


.CustomerImg {
    width: 80% !important;
    margin: 0px !important;
    height: 100%;
}

.cardCustomers .rec {
    padding: 20px;
    width: 90%;
    height: 17vh;
}

.secvideo {
    border-radius: 20px;
    height: 60vh;
    overflow: hidden;
}

.secvideo video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.playVideo {
    display: flex;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(57, 56, 143, 0.6);
}

.btnPlay {
    background-color: #fcd000;
    padding: 20px;
}

.btnPlay:hover {
    background-color: #e6bf00;
}

.displayfixe {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    opacity: 0.75;
    animation-name: menuFixe;
    animation-duration: 1s;
}

.displayfixenone {
    position: fixed;
    width: 100%;
    top: -100%;
    z-index: 100;
    opacity: 0.75;
    animation-name: menuFixenone;
    animation-duration: 1s;
}

.fadeScale {
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
}

.hasFade {
    -webkit-transition: 1s ease-out, opacity 2s;
    -moz-transition: 1s ease-out, opacity 2s;
    -ms-transition: 1s ease-out, opacity 2s;
    -o-transition: 1s ease-out, opacity 2s;
    transition: 1s ease-out, opacity 2s;
    opacity: 0;
}

.hasFadeFast {
    /*-webkit-transition: 500ms  opacity ;*/
    /*-moz-transition: 500ms  opacity ;*/
    /*-ms-transition: 500ms  opacity ;*/
    /*-o-transition: 500ms  opacity ;*/
    /*transition: 500ms  opacity ;*/
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    opacity: 0;
}

.fadeUp {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transform: translateY(200px);
}

.hasFadeSlow {
    -webkit-transition: 2s ease-out, opacity 2.5s;
    -moz-transition: 2s ease-out, opacity 2.5s;
    -ms-transition: 2s ease-out, opacity 2.5s;
    -o-transition: 2s ease-out, opacity 2.5s;
    transition: 2s ease-out, opacity 2.5s;
}

.fadeLeft {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.fadeRight {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.fadeShow {
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    transform: unset;
    opacity: 1;
}

.owl-carouselCompany .owl-next {
    position: absolute;
    top: 10%;
    /* left: 100%; */
    right: 100%;
    /* background-color: #fcd000 !important; */
    width: 50px;
    font-size: 100px !important;
    border-radius: 10px !important;
    margin: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-carouselCompany .owl-prev {
    position: absolute;
    top: 10%;
    /* right: 100%; */
    left: 100%;
    /* background-color: #fcd000 !important; */
    width: 50px;
    font-size: 100px !important;
    border-radius: 10px !important;
    margin: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-carouselCompany button span {
    margin-top: 0px;
}

.owl-next:hover {
    background-color: transparent !important;
}

.owl-prev:hover {
    background-color: transparent !important;
}

.secFooter {
    direction: rtl;

}

.footer {
    padding: 20px;
    background-color: #222222 !important;
}

.headerFooter {
    font-size: 20px;
    color: #fcd000;
}

.footerLink {
    display: block;
    padding: 10px;
}

.right-border {
    border-right: #fcd000 3px solid;
    padding: 0px 10px;
}

.text-gold {
    color: #fcd000;
}

.inputFooter {
    background-color: #9291a9 !important;
    border: 5px solid #9291a9 !important;
    border-radius: 5px !important;
    width: 70% !important;
}

.Subscrip {
    border-radius: 5px;
    color: #FFFFFF;
    width: 20%;
}
.submenu .active{
    border-bottom: 3px solid #fcd000 ;
}
@keyframes menuFixe {
    from {
        top: -100%
    }
    to {
        top: 0px
    }
}

@keyframes menuFixenone {
    from {
        top: 0px
    }
    to {
        top: -100%
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        height: auto;
    }
    .phoneNumber{
        display: none;
    }
    .iconMobileMenu{
        display: inline;
    }
.menu{
    display: none;
    width: 100%;
    text-align: right;
}
    .menu .submenu {
        display: block;
        padding-bottom: 10px;

    }
    .navbar{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .owl-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .owl-carouselMain .owl-prev, .owl-carouselMain .owl-next {
        top: unset;
        bottom: 0%;
        background-color: transparent !important;
    }

    .owl-carouselBlog .owl-next, .owl-carouselBlog .owl-prev {
        position: unset;
        top: unset;
        right: unset;
        /*background-color: #fcd000 !important;*/
        width: 50px;
        font-size: 30px !important;
        border-radius: 10px !important;
        margin: 0px !important;
    }

    .customerComment .owl-prev, .customerComment .owl-next {
        position: unset;
        top: unset;
        right: unset;
        width: 50px;
        font-size: 30px !important;
        border-radius: 10px !important;
        margin: 0px !important;
    }

    .owl-carouselCompany .owl-next ,.owl-carouselCompany .owl-prev {
        position: unset;
        top: unset;
        right: unset;
        left: unset;
        /*width: 50px;*/
        font-size: 30px !important;
        border-radius: 10px !important;
        margin: 20px 10px !important;
        justify-content: space-between;
    }


}